<!DOCTYPE html>
<html>
  <head>
    <title><%= data.name %></title>
    <link rel='stylesheet' href='public/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= data.name %></h1>
    <p>职工ID：<%= data.id %></p>
    <p>性别：<%= data.render %></p>
    <p>介绍：<%= data.desc %></p>
  </body>
</html>